
a {
  text-decoration: none;
}

.btn {
    color: white;
    display: inline-block;
    opacity: 0.8;
    padding: 8px 24px;
    border-radius: 4px;
}


.btn:hover {
  opacity: 1;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter {
  background-color: #55acee;
}

.btn-wrapper {
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}
.fa {
  margin-right:5px;
}


